// Typography
$typeface: 'Sree Krushnadevaraya', serif
// Color
$navbarColor: rgba(0, 0, 0, 0.6)
$mainColor: #000
$secondaryColor: lighten($mainColor, 40)
// Layout
$container: 1142px
$gutterWidth: 2rem
