#bio
  color: #fff
  background: linear-gradient(115.90808106542045deg, rgba(0, 0, 0,1) 18.28515625%,rgba(130, 130, 130,1) 84.06640625%)
  .flex-wrapper
    margin: auto
    width: $container
    +flex
    align-items: center

    .bio-img
      width: 250px
      border-radius: 50%
      padding: $gutterWidth

    .bio-text
      text-align: center
      +letter-spacing
      font-size: 1.3rem
      line-height: 1.5rem
