.footer
  background: $mainColor
  +flex
  flex-direction: column
  height: 100px
  align-items: center
  justify-content: center
  text-align: center
  padding: $gutterWidth
  .left-side-footer
    color: #fff
    +letter-spacing
    font-size: 1rem
  .center-footer
    .social-link
      color: #fff
      text-decoration: none
      font-size: 1.5rem
      padding: 0 10px
      .fa-youtube
        +transition
        &:hover
          color: $youtubeColor
          transform: scale(1.3)
      .fa-facebook-square
        +transition
        &:hover
          color: $facebookColor
          transform: scale(1.3)
      .fa-twitter-square
        +transition
        &:hover
          color: $twitterColor
          transform: scale(1.3)
      .fa-instagram
        +transition
        &:hover
          color: $instagramColor
          transform: scale(1.3)
  .right-side-footer
    color: #fff
    +letter-spacing
    font-size: 1rem
    .created-by
      text-decoration: none
      color: #fff
      +transition
      &:hover
        color: $secondaryColor
