.main-header
  width: $container
  height: 100vh
  margin: auto

  .jumbotron
    +flex
    flex-direction: column

  .logo-container
    margin: auto
    text-align: center

    .jumbotron-logo
      height: 500px
      +transition

  .frase-effetto
    color: #fff
    font-size: 1.5rem
    +letter-spacing
    text-align: center
    margin-top: -15vh
    margin-bottom: 0

  .caret-down
    width: 100%
    font-size: 3rem
    color: #fff
    text-align: center
    padding: $gutterWidth
    cursor: pointer
    +transition
    &:hover
      animation: translate 1.5s infinite
