.navbar
  background: $navbarColor
  +flex
  height: 10vh
  padding: $gutterWidth / 2
  align-items: center
  .brand-logo
    width: 100px
  .nav-link-container
    margin-left: auto
    .nav-link
      text-transform: uppercase
      color: #fff
      text-decoration: none
      +letter-spacing
      font-size: 1.25rem
      padding: 0 1rem
      vertical-align: text-top
      +transition
