.navbar
  background: trasparent
  padding: $gutterWidth / 2
  +flex
  align-items: center
  height: 10vh

  .nav-logo
    margin-right: auto
    width: 100px
    height: 100

  .nav-link-container
    padding: $gutterWidth / 2

    .nav-link
      color: #fff
      text-decoration: none
      font-size: 1.3rem
      +letter-spacing
      padding: $gutterWidth / 2
      +transition
      &:hover
        background: #fff
        color: $mainColor
