#video
  background: $mainColor
  .video-wrapper
    margin: 0
    padding: $gutterWidth
    display: grid
    grid-gap: $gutterWidth
    grid-template-columns: 1fr
    iframe
      border: none
    .video2
      order: -1
